@model CollateralMVC.Models.SubscribeModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@using (Html.BeginForm("Subscribe", "Loan", FormMethod.Post))
{
   <p> <input type="text" asp-for="Email" required/></p>
   <p><button type="submit">Enter Loan Id </button></p>
}
<p>
    <a asp-action="Create">Save Collaterals to a Loan</a>
</p>